{% extends "base.html" %}
{% block content %}
<center>
  <div class="page-wrapper">
  <div class="left-bg"></div>
  <div class="card" style="max-width: 600px;">
    <h2>Add Student</h2>

    <form method="POST" onsubmit="return confirm('Do you want to add this student?')">

      Name: <input type="text" name="sname" required>
      Branch: <input type="text" name="sbranch" required>
      Marks: <input type="number" name="smarks" required>
      Phone: <input type="text" name="phno" required>

      <button type="submit">Add Student</button>
    </form>


</center>
</div></div>
{% endblock %}