{% extends "base.html" %}
{% block content %}
<center>
    <div class="page-wrapper">
    <div class="left-bg"></div>
    <div class="card" style="max-width: 600px;">
        <!-- FLASH MESSAGE -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, msg in messages %}
        <div class="alert {{ category }}">
            {{ msg }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <h2>Contact Us</h2>

        <form method="post">
            Name
            <input type="text" name="name" required>

            Email
            <input type="email" name="email" required>

            Message
            <textarea name="message" rows="3" required></textarea>

            <button type="submit" class="btn">Send Message</button>
        </form>


</center>
</div></div>
{% endblock %}