{% extends "base.html" %}
{% block content %}<center>
    <div class="page-wrapper">
    <div class="left-bg"></div>
    <div class="card" style="max-width: 600px;">
        <h2>Forgot Password</h2>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
        <p class="flash {{ category }}">{{ message }}</p>
        {% endfor %}
        {% endwith %}

        <form method="POST" action="{{ url_for('send_reset_link') }}">
            <input type="email" name="email" placeholder="Enter registered email" required>
            <button type="submit">Send Reset Link</button>
        </form>
</center>
</div></div>
{% endblock %}