{% extends "base.html" %}
{% block content %}
<center>
<div class="card">
<h2>Student Management System</h2>

<p>
    <b>Student Management System (EMS)</b> is a web-based application
    developed using <b>Flask</b> and <b>MySQL</b>.
</p>

<p>
    This system helps organizations manage students records efficiently.
</p>

<ul>
    <li>User Registration and Login</li>
    <li>Add, Edit, Delete Employee Details</li>
    <li>Secure Authentication</li>
    <li>User-friendly Interface</li>
</ul>


</center></div>
{% endblock %}