{% extends "base.html" %}
{% block content %}
<center>
    <div class="page-wrapper">
    <div class="left-bg"></div>
    <div class="card" style="max-width: 600px;">
        <h2>Register</h2>
        <form method="post">
            <input name="fname" placeholder="First Name" required>
            <input name="lname" placeholder="Last Name" required>
            <input type="email" name="email" placeholder="Email" required>
            <input name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit"> Register</button>
        </form>
        </cenetr>
    </div></div>
    {% endblock %}